
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    background-image: url('Images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*min-width: 1200px;*/
}

body{
    padding: 0;
    margin: 0;
}

.title-center {
    margin: auto;
    padding: 10px 0;
    text-align: left;
    font-size: large;
    color: #7de7ff;
}

@font-face {
    font-family: Echotopia-Regular;
    src: url('Fonts/Echotopia-Regular.otf');
}

@font-face {
    font-family: Jost-Regular;
    src: url('Fonts/Jost-Regular.ttf');
}

@font-face {
    font-family: Dreamer;
    src: url('Fonts/Celebrate.otf');
}

#grad {
    background-image: linear-gradient(to right, white, blue);
}


.trigger-element {
    padding: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
}

    /*.trigger-element::before {
        content: "";
        width: 20px;*/ /* Adjust the width and height for the circle */
        /*height: 20px;*/
        /*background-color: red;*/ /* Circle color */
        /*background-image: linear-gradient(#ff4e00, #ff7d00);
        border-radius: 50%;*/ /* Create a circle shape */
        /*position: absolute;*/
        /*top: 10px;*/ /* Adjust the top position */
        /*right: 30px;*/ /* Adjust the right position */
    /*}*/

.non-trigger-element {
    padding: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0);
}

.target-element {
    padding: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.container {
    /*display: flex;*/
}

.timeline-node {
    width: 40px;
    height: 40px;
    /*background-color: rgba(255,255,255, 0.15);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 0 10px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
    /*backdrop-filter: blur(12px);*/
    margin: 0 auto;
    margin-top: 40px;
}

    /*.timeline-node::before {
        content: "";
        width: 20px;*/ /* Adjust the width and height for the circle */
        /*height: 20px;*/
        /*background-color: red;*/ /* Circle color */
        /*background-image: linear-gradient(#ff4e00, #ff7d00);
        border-radius: 50%;*/ /* Create a circle shape */
        /*position: absolute;*/
        /*top: 10px;*/ /* Adjust the top position */
        /*right: 30px;*/ /* Adjust the right position */
    /*}*/

    .timeline-node.highlighted {
        border: 3px solid #7de7ff;
    }

    .timeline-node.selected {
        border-radius: 5px;
    }

.pointer {
    content: url('Images/ArrowDown.png');
    position: absolute;
    width: 18px;
    height: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.segment {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    background-image: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    border-radius: 8px;
    color: #eeeeee;
}

    .segment:nth-child(1) {
        margin-left: 10%;
        width: 80%;
    }

    .segment:nth-child(2) {
    }

    .segment:nth-child(3) {
    }


.connecting-element {
    width: 100px;
    height: 50px;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}

.connecting-line {
    position: absolute;
    height: 4px;
    background-color: #7de7ff;
    opacity: 0;
    transition: opacity 0.3s;
    /*transition: width 0.3s ease;*/
}

.connecting-line-vertical {
    position: absolute;
    width: 4px;
    background-color: #7de7ff;
    transition: opacity 0.3s;
}

.proficiency-content {
    position: absolute;
    padding: 20px;
    width: 40%;
    transition: opacity 0.3s;
}

.proficiency-title {
    margin: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: rgba(255,255,255, 0.1);
}

.proficiency-lineX {
    position: absolute;
    height: 3px;
    background-color: rgba(255,255,255, 0.5);
    opacity: 0;
    transition: width 0.3s ease;
    transition: opacity 0.3s;
}

.proficiency-lineY {
    position: absolute;
    height: 100px;
    width: 3px;
    background-color: rgba(255,255,255, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    /*transition: height 0.3s ease;*/
}

.proficiency-lineY-notch {
    position: absolute;
    height: 3px;
    width: 24px;
    background-color: rgba(255,255,255, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.project-content {
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
    font-size: large;
    color: #acacac;
    transition: opacity 0.3s;
    /*opacity: 0;*/
    /*width: 65%;*/
    border: solid #7de7ff 1px;
    backdrop-filter: blur(10px);
    /*background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.12));*/
    font-family: 'Jost-Regular';
    /*border-radius: 6px;*/
    max-width: 80%;
}

.text-highlight {
    color: #7de7ff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    height: 100%;
}

@media (orientation: portrait), (max-width: 960px) {
    .grid-container {
        grid-template-columns: repeat(1, 400px);
        /*transform: scale(1.5);*/
    }
}

.grid-item {
    /*background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));*/
    border: solid #7de7ff 1px;
    text-align: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.25);
    transition: color 0.3s;
    backdrop-filter: blur(10px);
}

.timeline-year {
    font-family: 'Jost-Regular';
    font-size: x-large;
    color: #7de7ff;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.10));
    margin: 0 auto;
    max-width: 200px;
    transition: opacity 0.3s;
    /*backdrop-filter: blur(12px);*/
}

.scroll-div {
    /*transition: opacity 0.4s ease-in-out;*/
    /*opacity: 0.2;*/
}