
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    background-image: url('Images/Background.png');
    min-width: 1200px;
}

body{
    padding: 0;
    margin: 0;
}

.title-center {
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

@font-face {
    font-family: Echotopia-Regular;
    src: url('Fonts/Echotopia-Regular.otf');
}

@font-face {
    font-family: Jost-Regular;
    src: url('Fonts/Jost-Regular.ttf');
}

@font-face {
    font-family: Dreamer;
    src: url('Fonts/Celebrate.otf');
}

#grad {
    background-image: linear-gradient(to right, white, blue);
}


.trigger-element {
    padding: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
}

.non-trigger-element {
    padding: 10px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0);
}

.target-element {
    padding: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
}

.timeline-node {
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255, 0.35);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 0 10px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

    .timeline-node.highlighted {
        border: 3px solid #7de7ff;
    }

    .timeline-node.selected {
        border-radius: 5px;
    }

.pointer {
    content: url('Images/ArrowDown.png');
    position: absolute;
    width: 18px;
    height: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.segment {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #eeeeee;
}

    .segment:nth-child(1) {
        width: 25%;
        height: 360px;
        /*background-color: #f0f0f0;*/
    }

    .segment:nth-child(2) {
        width: 45%;
        height: 360px;
        /*background-color: #d3d3d3;*/
    }

    .segment:nth-child(3) {
        margin-left: 30px;
        width: 25%;
        height: 800px;
        margin-bottom: -440px;
        /*background-color: #c0c0c0;*/
    }


.connecting-element {
    width: 100px;
    height: 50px;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}

.connecting-line {
    position: absolute;
    height: 4px;
    background-color: #7de7ff;
    opacity: 0;
    transition: opacity 0.3s;
    /*transition: width 0.3s ease;*/
}

.connecting-line-vertical {
    position: absolute;
    width: 4px;
    background-color: #7de7ff;
    transition: opacity 0.3s;
}

.proficiency-content {
    position: absolute;
    padding: 20px;
    width: 40%;
    transition: opacity 0.3s;
}

.proficiency-title {
    margin: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    color: white;
    background-color: rgba(255,255,255, 0.1);
}

.proficiency-lineX {
    position: absolute;
    height: 3px;
    background-color: rgba(255,255,255, 0.5);
    opacity: 0;
    transition: width 0.3s ease;
    transition: opacity 0.3s;
}

.proficiency-lineY {
    position: absolute;
    height: 100px;
    width: 3px;
    background-color: rgba(255,255,255, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    /*transition: height 0.3s ease;*/
}

.proficiency-lineY-notch {
    position: absolute;
    height: 3px;
    width: 24px;
    background-color: rgba(255,255,255, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.project-content {
    margin-left: 60px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    color: #acacac;
    transition: opacity 0.4s;
    opacity: 0;
    width: 65%;
    border: solid #7de7ff 3px;
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15));
    font-family: 'Jost-Regular';
    border-radius: 6px;
}

.text-highlight {
    color: #7de7ff;
    /*font-style: italic;*/
    /*font-weight: bold;*/
}